<div class="material-card-wide mdl-card mdl-shadow--2dp form-card">
  <div class="mdl-card__title mdl-card--border">
    <h2 class="mdl-card__title-text">{{ title }}</h2>
  </div>
  <form [formGroup]="form" novalidate (ngSubmit)="save()">
    <div class="add-edit-form">
      <md-grid-list cols="2" rowHeight="70px">
        <!-- 1st row /-->
        <md-grid-tile [colspan]="1" [rowspan]="1">
          <md-input-container class="form-full-width">
            <input mdInput placeholder="Id (disabled)" formControlName="driver_id">
          </md-input-container>
        </md-grid-tile>
        <md-grid-tile [colspan]="1" [rowspan]="1">
          <md-select placeholder="Car" formControlName="driver_car" name="car" class="form-full-width">
            <md-option *ngFor="let car of carsData" [value]="car.car_id">
              {{ car.car_id }} | {{ car.car_maker }} - {{ car.car_model }} - {{ car.car_year }}
            </md-option>
          </md-select>
        </md-grid-tile>

        <!-- 2nd row /-->
        <md-grid-tile [colspan]="1" [rowspan]="1">
          <md-input-container class="form-full-width">
            <input mdInput placeholder="First Name" required formControlName="driver_firstName">
            <md-error *ngIf="!form.controls.driver_firstName.valid">
              Driver first name is required
            </md-error>
          </md-input-container>
        </md-grid-tile>
        <md-grid-tile [colspan]="1" [rowspan]="1">
          <md-input-container class="form-full-width">
            <input mdInput placeholder="Last Name" required formControlName="driver_lastName">
            <md-error *ngIf="!form.controls.driver_lastName.valid">
              Driver last name is required
            </md-error>
          </md-input-container>
        </md-grid-tile>
      </md-grid-list>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="buttonHolder">
        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" [disabled]="!form.valid">
          Save
        </button>
        <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" (click)="initForm()">
          Reset
        </button>
      </div>
    </div>
  </form>
</div>