<div mdl class="demo-card-wide mdl-card mdl-shadow--2dp form-card">
  <div class="mdl-card__title mdl-card--border">
    <h2 class="mdl-card__title-text">Driver Form </h2>
  </div>
  <form [formGroup]="driverForm" novalidate (ngSubmit)="save()">
    <div class="mdl-card__supporting-text add-edit-form">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Id (disabled)" formControlName="id">
      </md-input-container>

      <table class="form-full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="form-full-width">
              <input mdInput placeholder="First Name" required formControlName="firstName">
              <md-error *ngIf="!driverForm.controls.firstName.valid">
                Driver first name is required
              </md-error>
            </md-input-container>
          </td>
          <td>
            <md-input-container class="form-full-width">
              <input mdInput placeholder="Last Name" required formControlName="lastName">
              <md-error *ngIf="!driverForm.controls.lastName.valid">
                Driver last name is required
              </md-error>
            </md-input-container>
          </td>
        </tr>
      </table>

      <div style="margin-top:15px"></div>

      <table class="form-full-width" cellspacing="O">
        <tr>
          <td>
            <md-input-container class="form-full-width">
              <input mdInput placeholder="Car" required formControlName="car">
              <md-error *ngIf="!driverForm.controls.car.valid">
                Driver car is required
              </md-error>
            </md-input-container>
          </td>
        </tr>
      </table>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="buttonHolder">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" [disabled]="!driverForm.valid">
        Submit
      </button>
        <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" (click)="resetForm()">
        Reset
      </button>
      </div>
    </div>
  </form>
</div>