<div class="material-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--border">
    <h2 class="mdl-card__title-text">{{ title }}</h2>
  </div>
  <div class="list-card-body">
    <table class="data-table-format">
      <thead>
        <tr>
          <th>id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Car</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let driver of pagedItems" (click)="editDriver(driver)">
          <th>{{ driver.driver_id }}</th>
          <td>{{ driver.driver_firstName }}</td>
          <td>{{ driver.driver_lastName }}</td>
          <td>{{ driver.driver_car }}</td>
          <td width="5%" (click)="deleteDriver(driver.driver_id); $event.stopPropagation();">
            <i class="material-icons delete-data-icon">delete_forever</i>
          </td>
        </tr>
      </tbody>
    </table>
    <section *ngIf="isLoading" class="loadingData">
      <md-progress-bar class="loadingMargin" mode="query"></md-progress-bar>
    </section>
  </div>

  <!-- pager -->
  <div class="mdl-paging" *ngIf="pager.pages && pager.pages.length">
    <button [disabled]="pager.currentPage === 1" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" (click)="setPage(pager.currentPage - 1)">
      <i class="material-icons">keyboard_arrow_left</i>
    </button>
    <a *ngFor="let page of pager.pages" [class.selected]="pager.currentPage === page" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
      (click)="setPage(page)">
      {{ page }}
    </a>
    <button [disabled]="pager.currentPage === pager.totalPages" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
      (click)="setPage(pager.currentPage + 1)">
      <i class="material-icons">keyboard_arrow_right</i>
    </button>
    <br />
    <span class="paginationStats">Pages {{ pager.startPage }}-{{ this.pager.endPage }} of {{ pager.totalPages }}</span>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <div class="buttonHolder">
      <button routerLink="../driver-form" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" *ngIf="!editing">
          Add
        </button>
    </div>
  </div>
</div>