/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background-color: #EEEEEE;
  min-height: 100vh;
}

/* Car and driver list card css */
.material-card-wide.mdl-card {
  width: 70%;
  margin: 15px auto 15px;
}

.list-card-body {
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(0,0,0,.54);
    font-size: 1rem;
}

/* /////////////////////////// */


/* Car and driver list table css */
.data-table-format {
    width: 75%;
    margin: auto;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

thead {
    background-color: #8b9dc3;
    color: white;
    text-align: center;
}

th, td {
    text-align: center;
    padding: 8px;
}

.data-table-format tr.active th {
  background-color:#dfe3ee !important;
}

.data-table-format tr.active td {
  background-color:#dfe3ee !important;
}

.loadingCenter {
  margin: 15px auto 0;
}

/* /////////////////////////// */


/* Car and driver form card css */
.material-card-wide.form-card {
    width: 50%;
}

/* /////////////////////////// */


/* Common card css */
.material-card-wide > .mdl-card__title {
  color: #d9edf7;
  height: 60px;
  background-color: #31708f;
}

.buttonHolder { 
    text-align: center;
}

.buttonHolder button { 
    font-weight: bold;
}

/* /////////////////////////// */


/* Form css */
.form-full-width {
    width: 100%;
}

.formButton {
    font-size : 20px; 
    width: 20%;
    color: #FFFFFF;
}

.add-edit-form {
    margin: auto;
    width: 70%;
}

/* /////////////////////////// */